@inject Cantare.Database.BackendDatabase backendDatabase;
@{
    var songCount = backendDatabase.SongCalender.Count();
    var pageStart = (songCount / 12);
    if (pageStart > 1)
    {
        pageStart = pageStart + (songCount % 12 > 0 ? 1 : 0);
    }
}

<partial name="PlayingAreaPartial.cshtml" model="@DateTime.Now" />

<div class="modal fade" id="modal">
    <div class="modal-dialog" style="max-width: 750px">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0.5rem 1rem 0.5rem 1rem">
                <h5 class="modal-title">Calendar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div id="Calendar" class="modal-body">
            </div>
            <div class="modal-footer container-fluid" id="modalFooter">
                <div class="row justify-content-center">
                    <nav>
                        <ul class="pagination" style="margin: 0">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li id="PageSelect-1" class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            @for (var i = 2; i <= pageStart; i++)
                            {
                                <li id="PageSelect-@i" class="page-item"><a class="page-link" href="#">@i</a></li>
                            }
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<span id="pageMax" hidden>@pageStart</span>
<script type="text/javascript" src="~/js/index.js"></script>