@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Your registration request has been accepted. An administrator will need to confirm your account creation request in-order to continue.</p>
